RewriteEngine on
RewriteCond $1 !^(index.php|css|js|images|robots.txt|plantilla|jquery-1.9.1|bootstrap|temas|fonts|ajax|json|woff|qarmi|Chalet)
RewriteRule ^(.*)/(.*)$ index.php?controller=$1&action=$2
RewriteRule ^captcha$ http://127.0.0.1:8080/security_php/cuentas/cargarCaptcha